<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="StringConectareBD" value="Data Source=80.96.123.131/ora09;User Id=hr;Password=oracletest;"/>
		<add key="FormatSalvare" value="BazaDateOracle"/>

		<add key="K_NumeTabelLiceu" value="Liceu_CotofrecM31"/>
		<add key="K_SecventaTabelLiceu" value="seq_Liceu_CotofrecM31"/>

		<add key="K_NumeTabelMaterii" value="Materie_CotofrecM31"/>
		<add key="K_SecventaTabelMaterie" value="seq_Materie_CotofrecM31"/>

		<add key="K_NumeTabelOras" value="Orase_CotofrecM31"/>
		<add key="K_SecventaTabelOras" value="seq_Orase_CotofrecM31"/>

		<add key="K_NumeTabelProfesor" value="Profesori_CotofrecM31"/>
		<add key="K_SecventaTabelProfesor" value="seq_Profesori_CotofrecM31"/>

		<add key="K_NumeTabelRepartizare" value="Repartizari_CotofrecM31"/>

	</appSettings>
</configuration>